.right{
display:flex;
justify-content: space-between;
margin-left: 800px;
float: right;
}
.left{
  display:flex;
  justify-content: space-between;
  margin-left: -50px;
  float:left;
}
.home{
display: flex;
margin-left:20px;
margin-top: 10px;
}
