.close{
    top: 323px;
left: 1068px;
width: 24px;
height: 24px;
background: transparent url('../assets/logos/Icons/close.svg') 0% 0% no-repeat padding-box;
opacity: 1;
color:#FF7A7A;
margin-left: -100px;
position: absolute;
}
.text{
    top: 388px;
left: 923px;
width: 400px;
height: 31px;
text-align: center;
font: Bold 24px/40px PT Sans;
letter-spacing: 0px;
color: #181D33;
opacity: 1;
margin-left: -130px;
margin-top: -70px;
position: absolute;
}
.text1{
margin-left: -100px;
margin-top: -50px;
}