.nameCheap{
    margin: 150px 0px 41px 200px;
    text-align: center;
    opacity: 1;
    height: 37px;
  }
.label{
    text-align: left;
    font: Regular 16px/20px PT Sans;
    letter-spacing: 0px;
    color: #3F4451;
    opacity: 1;

}
.input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.75px solid #3F44511F;
    border-radius: 4px;
    opacity: 1;
}
.paragrape{
    text-align: left;
    font: Regular 14px/18px PT Sans;
    letter-spacing: 0px;
    color: #4E5983;
    opacity: 0.48;
    margin: 10px 10px;
    width: 400px;
}
.create{
    padding-top: 103px;
    text-align: left;
    font: Bold 32px/40px PT Sans;
    letter-spacing: 0px;
    color: #181D33;
    opacity: 1;
}
.avatar{
  margin: 80px 0px 00px 70px;
width: 164px;
height: 164px;
background: transparent url('../Assets/Profile.png') 0% 0% no-repeat padding-box;
border: 2px solid #CBCCD1;
opacity: 1;
}
.upload{
  width: 56px;
height: 20px;
text-align: left;
font: SemiBold 14px/21px Poppins;
letter-spacing: 0px;
color: #4DB6AC;
text-transform: uppercase;
opacity: 1;
margin: 0px 0px 100px 120px;
}
.camera{
  margin-left: 100px;

}
.paragraph1{
  top: 388px;
left: 954px;
width: 252px;
height: 31px;
text-align: center;
font: Bold 24px/40px PT Sans;
letter-spacing: 0px;
color: #181D33;
opacity: 1;
width: 400px;
}
